[alias]
    ci = commit --verbose
    ca = commit --verbose --all
    co = checkout
    st = status --short --branch
    ff = merge --ff-only

    l = log --pretty=color
    g = log --graph --all --pretty=color
    head = log -n1
    last = log --pretty=color ORIG_HEAD..
    reset-date = !git commit --amend --date=\"$(date)\"
    ancestor = merge-base HEAD master

    subupdate = submodule update --init --recursive

    rdar = !open 'rdar://$(git rev-parse --symbolic-full-name --abbrev-ref HEAD | egrep -o \"\\d+\" | head -1)'
    get-patch = !git format-patch HEAD~ -o ~/Desktop/

    yolo = !sh -c \"git commit -a --amend --no-edit && git push --force --dry-run\" -

[pretty]
    color = "format:%Cred%h%C(yellow)%d %Cblue%an %Cgreen%cr%Creset %s"

[diff]
    algorithm = patience

[core]
    excludesfile = ~/.gitignore-global
    attributesfile = ~/.gitattributes-global
    quotepath = false
    pager = less

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[credential]
    helper = osxkeychain

[branch]
    autosetuprebase = always

[push]
    default = simple

[rerere]
    enabled = true

[status]
    submodulesummary = true

[mergetool]
    prompt = false

[merge]
    tool = opendiff
    log = true

[diff "exif"]
    textconv = exiftool

[diff "utf16"]
    textconv = iconv -f utf-16 -t utf-8

[diff "plist"]
    textconv = plutil -convert xml1 -o -

[filter "media"]
    clean = git media clean %f
    smudge = git media smudge %f
    required = true
