[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:micampe/prezto.git
[submodule ".vim/bundle/vim-bufferline"]
	path = .vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
