[alias]
    ci = commit --verbose
    ca = commit --verbose --all
    co = checkout
    st = status --short --branch
    ff = merge --ff-only

    head = log -n1
    l = log --pretty=color
    r = log -n10 --pretty=color
    last = log --pretty=color ORIG_HEAD..
    graph = log --graph --all --pretty=color
    g = log --graph --all --pretty=color
    reset-date = !git commit --amend --date=\"$(date)\"
    ancestor = merge-base HEAD master
    fixup = !sh -c 'git commit --fixup=$1' -
    squash = !sh -c 'git commit --squash=$1' -

    get-patch = !git format-patch HEAD~ -o ~/Desktop/
    copy-patch = !sh -c 'git format-patch --stdout $* | pbcopy && echo "[git format-patch $*] copied to clipboard. $(pbpaste | wc -l) lines."' -
    copy-diff = !sh -c 'git diff $* | pbcopy && echo "[git diff $*] copied to clipboard. $(pbpaste | wc -l) lines."' -

    rdar = !open 'rdar://$(git rev-parse --symbolic-full-name --abbrev-ref HEAD | egrep -o \"\\d+\" | head -1)'
	yolo = !sh -c \"git commit -a --amend --no-edit && git push --force --dry-run\" -

[pretty]
    color = "format:%Cred%h%C(yellow)%d %Cblue%an %Cgreen%cr%Creset %s"

[core]
    excludesfile = ~/.gitignore-global
    attributesfile = ~/.gitattributes-global
    quotepath = false

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[branch]
    autosetuprebase = always

[push]
    default = current

[rerere]
    enabled = true

[difftool]
    prompt = false
[mergetool]
    prompt = false

[diff]
    tool = p4
[merge]
    tool = p4
    conflictstyle = diff3

[difftool "p4"]
    cmd = \"p4merge.sh\" \"$LOCAL\" \"$REMOTE\"
    trustExitCode = true
[mergetool "p4"]
    cmd = \"p4merge.sh\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustExitCode = true

[diff "exif"]
    textconv = /usr/local/bin/exiftool
[diff "utf16"]
    textconv = iconv -f utf-16 -t utf-8
[diff "plist"]
    textconv = plutil -convert xml1 -o -
