(
    selected_tab: Some("White"),
    selection_fg: Some("White"),
    selection_bg: Some("Green"),
    cmdbar_bg: Some("Blue"),
    cmdbar_extra_lines_bg: Some("LightBlue"),
    disabled_fg: Some("237"),
    commit_hash: Some("Red"),
    commit_time: Some("Green"),
    commit_author: Some("Blue"),
    diff_file_modified: Some("LightBlue"),
)
